<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>breadFooter</title>
</head>
<body>
<footer>
    <div class="footerBackground">
        <div class="footerText">
            <li class="footerTextFirst">브레드 대학교 BREAD UNIVERSITY</li><br>
            <li class="footerTextSecond">서울특별시 종로구 인사동길 12 대일빌딩 7층, 15층, T. 02-3277-2114 / 52, 7th and 15th floors of Daeil Building, 12 Insadong-gil, Jongno-gu, Seoul<br>
                COPYRIGHT 2024 BY BREAD UNIVERSITY. ALL RIGHTS RESERVED.
            </li>
        </div>
    </div>
</footer>
</body>
</html>