<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>breadSideBar</title>
</head>
<body>
<div class="sideBarBackground">

    <div class="sideBarTopBackground">
        <div class="sideBarTopContainer">
            <a th:href="@{/}">
                <img th:src="@{/images/logo/005.png}" alt="sideBarTopImage">
            </a>
            <p>통합정보시스템</p>
        </div>
    </div>

    <div class="sideBarDropdown">

        <ul class="sideBarDropdownToggle">
            <li class="sideBarDropdownClick"><a href="#">마이페이지</a>
                <ul class="subToggle">
                    <li><a th:href="@{/breadEdit}">개인정보수정</a></li>
                    <li><a th:href="@{/breadTimeTable}">시간표조회</a></li>
                    <li><a th:href="@{/breadEnrollment}">수강신청조회</a></li>
                </ul>
            </li>

            <li class="sideBarDropdownClick"><a href="#">학사행정</a>
                <ul class="subToggle">
                    <li><a th:href="@{/breadAcademicAdministration}">휴학/자퇴신청</a></li>
                </ul>
            </li>

            <li class="sideBarDropdownClick"><a th:href="@{/breadLectureInquiry}">강의조회</a></li>
            <li class="sideBarDropdownClick"><a th:href="@{/breadCourseRegistration}">수강신청</a></li>
            <li class="sideBarDropdownClick"><a th:href="@{/breadGradeManagement}">성적조회</a></li>

            <li class="sideBarDropdownClick"><a th:href="@{#}">브레드에바란다</a>
                <ul class="subToggle">
                    <li><a th:href="@{/breadWishQNA}">Q&A</a></li>
                    <li><a th:href="@{/breadWishSuggestion}">불편/건의사항</a></li>
                </ul>
            </li>

            <li class="sideBarDropdownClick"><a th:href="@{/Notice/breadNotice?type=13}">공지사항</a></li>

            <li class="sideBarDropdownClick"><a th:href="@{/breadLost}">분실물</a></li>
        </ul>

    </div> <!-- sideBarDropdownToggle -->

</div> <!-- sideBarBackground -->
</body>
</html>