<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jquery -->
    <script th:src="@{https://code.jquery.com/jquery-3.6.4.min.js}"></script>
    <!-- 변경해야할 CSS 링크 -->
    <link rel="stylesheet" th:href="@{/css/background/background.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadWish/breadWishSuggestion/breadWishSuggestionPage.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadHeader.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadFooter.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadSideBar.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadTitleContainer.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadSaveButton.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/comment.css}">
    <!-- 변경해야할 JS 링크 -->
    <script th:src="@{/scripts/sideBar.js}"></script>
    <script th:src="@{/scripts/menuChoice.js}"></script>

    <title>breadWishSuggestionPage</title>
</head>
<body>
    <div class="mainContainer">

        <article>
            <div th:replace="common/breadHeader.html"></div>

            <div class="section01">

                <div class="section01Container">
                    <div class="titleText">
                        <p>브레드에바란다 > 불편/건의사항</p>
                    </div>

                    <br><br><br><br><br>

                        <div class="manageButton">
                            <div class="adminButton">
                                <button>삭제</button>
                            </div>
                        </div>

                    <br><br><br><br><br>

                    <div class="boardContainer">
                        <div class="boarderTitle">
                            <span>제목</span>
                            <span class="title">[학교생활] 버터동 언덕에 버터발려있어요</span>
                            <span>2024-01-30</span>
                        </div>
                        <br><br>
                        <hr>
                        <br><br><br>
                        <div class="board">
                            <span>내용</span>
                            <p>
                                다들 언덕에서 미끄럼틀 타고있어요<br>
                                어서 조치해주세요
                            </p>
                        </div>
                        
                    </div> <!-- boardContainer -->
                    
                    <br><br><br>

                    <hr>

                    <br><br><br>

                    <div class="commentContainer01">
                        <div class="comment01">
                            <div class="commentText01">
                                <span>답변</span>
                                <p>버터동은 원래 미끄러운 곳입니다. 즐기세요.</p>
                            </div>
                        </div>
                    </div>

                    <br><br><br>

                    <div class="saveButton">
                        <button>이전으로</button>
                    </div>
    
                </div> <!-- section01Container -->

            </div> <!-- section01 -->

    </article> 
  
    <div th:replace="common/breadSideBar.html"></div>

</div> <!-- mainContainer -->

</body>

    <div th:replace="common/breadFooter.html"></div>

</html>