<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jquery -->
    <script th:src="@{https://code.jquery.com/jquery-3.6.4.min.js}"></script>
    <!-- 변경해야할 CSS 링크 -->
    <link rel="stylesheet" th:href="@{/css/background/background.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadWish/breadWishSuggestion/breadWishSuggestionAdmin.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadHeader.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadFooter.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadSideBar.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadTitleContainer.css}">
    <!-- 변경해야할 JS 링크 -->
    <script th:src="@{/scripts/menuChoice.js}"></script>
    <script th:src="@{/scripts/sideBar.js}"></script>
    <script th:src="@{/scripts/checkBox.js}"></script>

    <title>breadWishSuggestionAdmin</title>
</head>
<body>
    <div class="mainContainer">

        <article>
            <div th:replace="common/breadHeader.html"></div>

            <div class="section01">

                <div class="section01Container">
                    <div class="titleText">
                        <p>브레드에바란다</p>
                    </div>

                    <br><br><br>
                    <div class="titleMenu">
                        <a th:href="@{/breadWishQNA}">Q&A</a>
                        <a th:href="@{/breadWishSuggestion}" th:style="'color: ' + ${textColor} + '; font-weight: bolder;'">불편/건의사항</a>
                        <br><br>
                        <hr>
                        <br>
                    </div> <!-- titleMenu -->

                    <br><br><br><br><br>

                    <div class="titleContainer">
                        <div class="titleBox">
                            <div class="searchContainer">
                                <label for="search">검색</label>
                                <input type="text">
                            </div>
                        
                            <div class="dropdown">
                                <label for="category">카테고리</label>
                                <select>
                                    <option value="list">전체</option>
                                    <option value="list">학교생활</option>
                                    <option value="list">기숙사</option>
                                    <option value="list">등록금</option>
                                    <option value="list">기타</option>
                                </select>
                            </div>
                        
                            <div class="dropdown">
                                <label for="sorting">정렬조건</label>
                                <select>
                                    <option value="list">선택</option>
                                    <option value="list">글번호 오름차순</option>
                                    <option value="list">글번호 내림차순</option>
                                </select>
                            </div>

                            <div class="dropdownButton">
                                <button>검색</button>
                            </div>
                        </div>    
    
                        <div class="manageButton">
                            <div class="adminButton">
                                <select name="adminSelect" id="adminSelect">
                                    <option value="adminOption">선택</option>
                                    <option value="adminOption">게시글숨기기</option>
                                    <option value="adminOption">사용자경고</option>
                                </select>
                                <button>관리</button>
                                <button>삭제</button>
                            </div>
                        </div>

                    </div> <!-- titleContainer -->

                    <br><br><br><br><br><br>

                <div class="boardContainer">
                    <div class="boarderTitle">
                        <input type="checkbox" id="boarderTitleCheckbox">
                        <span>글번호</span>
                        <span class="title">제목</span>
                        <span>작성자</span>
                        <span>처리상태</span>
                        <span>조회수</span>
                        <span>작성일</span>
                    </div>
                        <br>
                        <hr>
                        <br>
                    <div class="board">
                        <input type="checkbox" class="boardCheckbox">
                        <span>1</span>
                        <span class="title">[학교생활] 버터동 언덕에 버터발려있어요</span>
                        <span>하경진</span>
                        <span>답변완료</span>
                        <span>2213</span>
                        <span>2024-01-25</span>
                    </div>

                    <br><hr><br>

                    <div class="board">
                        <input type="checkbox" class="boardCheckbox">
                        <span>2</span>
                        <span class="title">[학교생활] 해외로 뻗어나가는 빵 쪼아먹기 기술 강의</span>
                        <span>김민하</span>
                        <span>미답변</span>
                        <span>2321</span>
                        <span>2024-01-30</span>
                    </div>

                    <br><hr><br>
                    
                    <div class="board">
                        <input type="checkbox" class="boardCheckbox">
                        <span>3</span>
                        <span class="title">[기숙사] 기숙사에 쿠키가루가 너무 많이 떨어져있어요</span>
                        <span>김민하</span>
                        <span>답변완료</span>
                        <span>2390</span>
                        <span>2024-01-30</span>
                    </div>

                    <br><hr><br>
                    
                    <div class="board">
                        <input type="checkbox" class="boardCheckbox">
                        <span>4</span>
                        <span class="title">[등록금] 등록금 쿠키로 내도 되나요?</span>
                        <span>김민하</span>
                        <span>답변완료</span>
                        <span>2390</span>
                        <span>2024-01-30</span>
                    </div>

                    <br><hr><br>
                    
                    <div class="board">
                        <input type="checkbox" class="boardCheckbox">
                        <span>5</span>
                        <span class="title">[기타] 빵에 버터 많이넣어주세요</span>
                        <span>하경진</span>
                        <span>미답변</span>
                        <span>2390</span>
                        <span>2024-01-30</span>
                    </div>

                </div> <!-- boardContainer -->

                <br><br><br><br><br><br>

                <div class="pagination">
                    <button class="buttonArrow"><<</button>&nbsp;
                    <button class="buttonPage">1&nbsp;</button>
                    <button class="buttonPage">2&nbsp;</button>
                    <button class="buttonPage">3</button>&nbsp;
                    <button class="buttonArrow">>></button>
                </div>

            </div> <!-- section01Container -->
            
        </div> <!-- section01 -->
        
        </article>

        <div th:replace="common/breadSideBar.html"></div>

</div> <!-- mainContainer -->

</body>

<div th:replace="common/breadFooter.html"></div>


</html>