<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- jquery -->
     <script th:src="@{https://code.jquery.com/jquery-3.6.4.min.js}"></script>
     <!-- 변경해야할 CSS 링크 -->
     <link rel="stylesheet" th:href="@{/css/background/background.css}">
     <link rel="stylesheet" th:href="@{/css/bread/breadNotice/breadNoticeModifyAdmin.css}">
     <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadheader.css}">
     <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadfooter.css}">
     <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadSideBar.css}">
     <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadTitleContainer.css}">
     <link rel="stylesheet" th:href="@{/css/bread/breadLectureInquiry/breadLectureInquiry.css}">

     <!-- 변경해야할 JS 링크 -->
    <script th:src="@{/scripts/menuChoice.js}"></script>
    <script th:src="@{/scripts/sideBar.js}"></script>
    <script th:src="@{/scripts/bread/}"></script> <!-- 아직 안 했음!!!!!!! -->

     
    <title>breadLectureInquiry(강의조회)</title>
</head>
<body>
    <div class="mainContainer">

        <article>

            <div th:replace="common/breadHeader.html"></div>

            <div class="sectionHead">  

                <div class="section01">

                    <div class="section01Container">
                        <div class="titleText">
                            <p>강의조회</p>           
                        </div>

                        <br><br><br><br><br>

                        <div class="titleContainer">
                            <div class="searchContainer">
                                <label for="search ">검색</label>
                                <input type="text">
                            </div>
                        
                            <div class="dropdown">
                                <label for="category">카테고리</label>
                                <select>
                                    <option value="list">전체</option>
                                    <option value="list">전공필수</option>
                                    <option value="list">전공</option>
                                    <option value="list">교양</option>
                                </select>
                            </div>

                            <div class="dropdown">
                                <label for="sorting">정렬조건</label>
                                <select>
                                    <option value="list">없음</option>
                                    <option value="list">학년 오름차순</option>
                                    <option value="list">학년 내림차순</option>
                                </select>
                            </div>

                            <div class="dropdownButton">
                                <button>검색</button>
                            </div>
                        
                        </div> <!-- titleContainer -->

                        <div class="tbl_head">
                            <table>
                                <colgroup>
                                    <col class="w10">
                                    <col class="w80">
                                    <col class="w10">
                                    <col class="w10">
                                    <col class="w10">
                                    <col class="w50">
                                    <col class="w80">
                                    <col class="w50">
                                </colgroup>
                                <thead>
                                <tr>  
                                    <th scope="col">강의번호</th>
                                    <th scope="col">교수명</th>
                                    <th scope="col">학부</th>
                                    <th scope="col">학과</th>
                                    <th scope="col">강의명</th>
                                    <th scope="col">강의분류</th>
                                    <th scope="col">학년</th>
                                    <th scope="col">강의정보</th>
                                </tr>
                                </thead>
                                <!-- <tbody><tr><td colspan="8" class="empty_table">조회된 강의가 없습니다.</td></tr></tbody> -->
                                <tbody>
                                    <tr>  
                                        <td>240213</td> <!-- NO 번호 증가 -->
                                        <td>하경진</td>
                                        <td>디자인학부</td>
                                        <td>시각정보디자인</td>
                                        <td>시각디자인1</td>
                                        <td>전공필수</td>
                                        <td>1</td>
                                        <td><input type="button" id="inquiryButton" name="chkall" value="조회" onclick="check_all(this.form);"></td>
                                    </tr>
                                    <tr>  
                                        <td>240213</td> <!-- NO 번호 증가 -->
                                        <td>하경진</td>
                                        <td>디자인학부</td>
                                        <td>산업디자인</td>
                                        <td>시각디자인1</td>
                                        <td>교양</td>
                                        <td>1</td>
                                        <td><input type="button" id="inquiryButton" name="chkall" value="조회" onclick="check_all(this.form);"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- tbl_head01 -->

                        <br><br><br><br><br>

                        <div class="pagination">
                            <button class="buttonArrow"><<</button>&nbsp;
                            <button class="buttonPage">1&nbsp;</button>
                            <button class="buttonPage">2&nbsp;</button>
                            <button class="buttonPage">3</button>&nbsp;
                            <button class="buttonArrow">>></button>
                        </div>

                    </div>  <!--section01Container -->
                </div > <!-- section01 -->

            </div> <!-- sectionHead -->

        </article>

        <div th:replace="common/breadSideBar.html"></div>

    </div> <!-- mainContainer -->
    
</body>

<div th:replace="common/breadFooter.html"></div>

</html>