<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jquery -->
    <script th:src="@{https://code.jquery.com/jquery-3.6.4.min.js}"></script>
    <!-- 변경해야할 CSS 링크 -->
    <link rel="stylesheet" th:href="@{/css/background/background.css}">
    <link rel="stylesheet" th:href="@{/css/breadProfessor/breadClassManagementPro/breadClassManagementPro.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadHeader.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadfooter.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadSideBar.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadTitleContainer.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadSaveButton.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/button.css}">
    <!-- 변경해야할 JS 링크 -->
    <script th:src="@{/scripts/menuChoice.js}"></script>
    <script th:src="@{/scripts/sideBar.js}"></script>
    <script th:src="@{/scripts/checkBox.js}"></script>

    <title>breadClassManagement</title>
</head>
<body>
    <div class="mainContainer">

        <article>

            <div th:replace="common/breadHeader.html"></div>

            <div class="section01">

                <div class="section01Container">
                    <div class="titleText">
                        <p>강의조회</p>
                    </div>

                    <br><br><br><br><br>

                    <div class="titleContainer">
                        <div class="titleBox">
                            <div class="searchContainer">
                                <label for="search">검색</label>
                                <input type="text">
                            </div>
                        
                            <div class="dropdown">
                                <label for="category">카테고리</label>
                                <select>
                                    <option value="list">전체</option>
                                    <option value="list">전공필수</option>
                                    <option value="list">전공</option>
                                    <option value="list">교양</option>
                                </select>
                            </div>
                        
                            <div class="dropdown">
                                <label for="sorting">정렬조건</label>
                                <select>
                                    <option value="list">선택</option>
                                    <option value="list">년도별 오름차순</option>
                                    <option value="list">년도별 내림차순</option>
                                </select>
                            </div>
                        
                            <div class="dropdownButton">
                                <button>검색</button>
                            </div>
                        </div>    

                        <div class="manageButton">
                            <div class="adminButton">
                                <button>등록</button>
                            </div>
                        </div>

                    </div> <!-- titleContainer -->

                    <br><br><br><br><br><br>

                <div class="boardContainer">
                    <div class="boarderTitle">
                        <input type="checkbox" id="boarderTitleCheckbox">
                        <span>번호</span>
                        <span>년도</span>
                        <span>학기</span>
                        <span>강의명</span>
                        <span>학과</span>
                        <span>강의분류</span>
                        <span>학점</span>
                        <span>정원</span>
                        <span>강의계획서</span>
                    </div>
                        <br>
                        <hr>
                        <br>    
                    <div class="board">
                        <input type="checkbox" class="boardCheckbox">
                        <span>1</span>
                        <span>2024</span>
                        <span>1학기</span>
                        <span>기초디자인1</span>
                        <span>시각정보디자인</span>
                        <span>전공필수</span>
                        <span>3.0</span>
                        <span>25</span>
                        <div class="EditButton">
                            <div class="boardButton">
                                <button>등록</button>
                            </div>
                        </div>
                    </div>

                    <br><hr><br>

                    <div class="board">
                        <input type="checkbox" class="boardCheckbox">
                        <span>2</span>
                        <span>2024</span>
                        <span>1학기</span>
                        <span>입체조형1</span>
                        <span>시각정보디자인</span>
                        <span>전공필수</span>
                        <span>3.0</span>
                        <span>25</span>
                        <div class="EditButton">
                            <div class="boardButton">
                                <button>등록</button>
                            </div>
                        </div>
                    </div>

                    <br><hr><br>
                    
                    <div class="board">
                        <input type="checkbox" class="boardCheckbox">
                        <span>3</span>
                        <span>2024</span>
                        <span>1학기</span>
                        <span>이미지디자인1</span>
                        <span>시각정보디자인</span>
                        <span>전공필수</span>
                        <span>3.0</span>
                        <span>25</span>
                        <div class="EditButton">
                            <div class="boardButton">
                                <button>등록</button>
                            </div>
                        </div>
                    </div>

                    <br><hr><br>
                    
                    <div class="board">
                        <input type="checkbox" class="boardCheckbox">
                        <span>4</span>
                        <span>2024</span>
                        <span>1학기</span>
                        <span>문자디자인</span>
                        <span>시각정보디자인</span>
                        <span>전공필수</span>
                        <span>3.0</span>
                        <span>25</span>
                        <div class="EditButton">
                            <div class="boardButton">
                                <button>등록</button>
                            </div>
                        </div>
                    </div>
                    <br><hr><br>
                    
                    <div class="board">
                        <input type="checkbox" class="boardCheckbox">
                        <span>5</span>
                        <span>2024</span>
                        <span>2학기</span>
                        <span>이미지디자인2</span>
                        <span>시각정보디자인</span>
                        <span>전공필수</span>
                        <span>3.0</span>
                        <span>25</span>
                        <div class="EditButton">
                            <div class="boardButton">
                                <button>등록</button>
                            </div>
                        </div>
                    </div>

                </div> <!-- boardContainer -->

                <br><br><br><br><br><br>

                <div class="pagination">
                    <button class="buttonArrow"><<</button>&nbsp;
                    <button class="buttonPage">1&nbsp;</button>
                    <button class="buttonPage">2&nbsp;</button>
                    <button class="buttonPage">3</button>&nbsp;
                    <button class="buttonArrow">>></button>
                </div>

            </div> <!-- section01Container -->
            
        </div> <!-- section01 -->
        </article>

        <div th:replace="common/breadSideBarPro.html"></div>

</div> <!-- mainContainer -->

</body>

<div th:replace="common/breadFooter.html"></div>

</html>