<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jquery -->
    <script th:src="@{https://code.jquery.com/jquery-3.6.4.min.js}"></script>
    <!-- 변경해야할 CSS 링크 -->
    <link rel="stylesheet" th:href="@{/css/background/background.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadNotice/breadNotice.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadHeader.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadFooter.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadSideBar.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadTitleContainer.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadSaveButton.css}">
    <!-- 변경해야할 JS 링크 -->
    <script th:src="@{/scripts/menuChoice.js}"></script>
    <script th:src="@{/scripts/sideBar.js}"></script>
    <script th:src="@{/scripts/boardListClick.js}"></script>

    <title>breadNotice</title>
</head>
<body>
    <div class="mainContainer">

        <article>

            <div th:replace="common/breadHeader.html"></div>

            <div class="section01">

                <div class="section01Container">
                    <div class="titleText">
                        <p>공지사항</p>
                    </div>

                    <br><br><br><br><br>

                    <div class="titleContainer">
                        <div class="titleBox">
                            <div class="searchContainer">
                                <label for="search">검색</label>
                                <input type="text" name="searchValue">
                            </div>
                        
                            <div class="dropdown">
                                <label for="category">카테고리</label>
                                <select name="searchCondition">
                                    <option value="list">전체</option>
                                    <option value="list">공지사항</option>
                                    <option value="list">브레드뉴스</option>
                                    <option value="list">행사안내</option>
                                </select>
                            </div>

                            <div class="dropdown">
                                <label for="sorting">정렬조건</label>
                                <select>
                                    <option value="list">없음</option>
                                    <option value="list">강의번호 오름차순</option>
                                    <option value="list">강의번호 내림차순</option>
                                </select>
                            </div>

                            <div class="dropdownButton">
                                <button>검색</button>
                            </div>
                        </div>

                        <div class="manageButton">
                            <div class="adminButton">
                                <button onclick="location.href='/Notice/breadNoticeModifyAdmin'">글작성</button>
                                <button>삭제</button>
                            </div>
                        </div>
                
                    </div> <!-- titleContainer -->

                    <br><br><br><br><br><br>

                <div class="boardContainer" id="listArea">
                    <div class="boarderTitle">
                        <span>글번호</span>
                        <span class="title">제목</span>
                        <span>작성자</span>
                        <span>조회수</span>
                        <span>작성일</span>
                    </div>
                    <br>
                    <hr>
                    <br>

                    <tr th:each="board, stut : ${ boardList }">
                        <div class="board">
                            <input type="hidden" th:value="${board.boardCode}"/>
                            <span id="output" th:text="${stut.count}"></span>
                            <span class="title" th:text=" [ + ${ board.category.categoryName } + ]  + ' '+ ${ board.boardTitle } "></span>
                            <span th:text="${board.user.userName}"></span>
                            <span th:text="${board.boardViewCount}"></span>
                            <span th:text="${board.boardPostDate}"></span>
                        </div>
                        <br><hr><br>
                    </tr>

                    <script>
                        var originalText = document.querySelector("[th\\:text]").innerText;
                        var reversedText = originalText.split('').reverse().join('');
                        document.getElementById("output").innerText = reversedText;
                    </script>

                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        document.addEventListener('DOMContentLoaded', function() {
                            const boardElements = document.querySelectorAll('.board');
                            boardElements.forEach(function(element) {
                                element.addEventListener('click', function() {

                                    const boardCode = this.querySelector('span.board-code').innerText;
                                    const viewCountElement = this.querySelector('span.view-count');
                                    console.log("boardCode=============" + boardCode);
                                    console.log("viewCountElement===========" + viewCountElement);

                                    // AJAX 요청을 보냄
                                    const xhr = new XMLHttpRequest();
                                    xhr.onreadystatechange = function() {
                                        if (xhr.readyState === 4 && xhr.status === 200) {
                                            // 요청이 성공하면 조회수를 1 증가시킴
                                            const newViewCount = parseInt(viewCountElement.innerText) + 1;
                                            viewCountElement.innerText = newViewCount;
                                        }
                                    };
                                    xhr.open('GET', '/incrementBoardCount?boardCode=' + boardCode, true);
                                    xhr.send();
                                });
                            });
                        });
                        /*]]>*/
                    </script>


                </div> <!-- boardContainer -->
                <br>

                <br><br><br><br><br>

                <div class="pagination">
                    <button class="buttonArrow"><<</button>&nbsp;
                    <button class="buttonPage">1&nbsp;</button>
                    <button class="buttonPage">2&nbsp;</button>
                    <button class="buttonPage">3</button>&nbsp;
                    <button class="buttonArrow">>></button>
                </div>

            </div> <!-- section01Container -->
            
        </div> <!-- section01 -->
            <br><br><br><br><br>
        </article>

        <div th:replace="common/breadSideBar.html"></div>

</div> <!-- mainContainer -->

</body>

<div th:replace="common/breadFooter.html"></div>

<script th:src="@{/scripts/boardListClick.js}"></script>

</html>
