<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jquery -->
    <script th:src="@{https://code.jquery.com/jquery-3.6.4.min.js}"></script>
    <!-- 변경해야할 CSS 링크 -->
    <link rel="stylesheet" th:href="@{/css/background/background.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadNotice/breadNoticeAdmin.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadHeader.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadFooter.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadSideBar.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadTitleContainer.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadSaveButton.css}">
    <!-- 변경해야할 JS 링크 -->
    <script th:src="@{/scripts/menuChoice.js}"></script>
    <script th:src="@{/scripts/sideBar.js}"></script>
    <script th:src="@{/scripts/checkBox.js}"></script>

    <title>breadNoticeAdmin</title>
</head>
<body>
    <div class="mainContainer">

        <article>

            <div th:replace="common/breadHeader.html"></div>

            <div class="section01">

                <div class="section01Container">
                    <div class="titleText">
                        <p>공지사항</p>
                    </div>

                    <br><br><br><br><br>

                    <div class="titleContainer">
                        <div class="titleBox">
                            <div class="searchContainer">
                                <label for="search">검색</label>
                                <input type="text">
                            </div>
                        
                            <div class="dropdown">
                                <label for="category">카테고리</label>
                                <select>
                                    <option value="list">전체</option>
                                    <option value="list">공지사항</option>
                                    <option value="list">브레드뉴스</option>
                                    <option value="list">행사안내</option>
                                </select>
                            </div>
                        
                            <div class="dropdown">
                                <label for="sorting">정렬조건</label>
                                <select>
                                    <option value="list">없음</option>
                                    <option value="list">글번호 오름차순</option>
                                    <option value="list">글번호 내림차순</option>
                                </select>
                            </div>

                            <div class="dropdownButton">
                                <button>검색</button>
                            </div>
                        </div>  <!-- titleBox -->
    
                        <div class="manageButton">
                            <div class="adminButton">
                                <button onclick="location.href='/Notice/breadNoticeModifyAdmin'">글작성</button>
<!--                                <a th:href="@{ /Notice/breadNoticeModifyAdmin }">-->
                                <button>삭제</button>
                            </div>
                        </div>

                    </div> <!-- titleContainer -->

                    <br><br><br><br><br><br>

                <div class="boardContainer">
                    <div class="boarderTitle">
                        <input type="checkbox" id="boarderTitleCheckbox">
                        <span>글번호</span>
                        <span class="title">제목</span>
                        <span>작성자</span>
                        <span>조회수</span>
                        <span>작성일</span>
                    </div>
                        <br><hr><br>    
                        
                    <div class="board">
                        <input type="checkbox" class="boardCheckbox">
                        <span>1</span>
                        <span class="title">[공지사항] 빵 많이먹으면 배부르니까 조심하세요</span>
                        <span>관리자</span>
                        <span>2213</span>
                        <span>2024-01-25</span>
                    </div>

                    <br><hr><br>

                    <div class="board">
                        <input type="checkbox" class="boardCheckbox">
                        <span>2</span>
                        <span class="title">[브레드뉴스] 해외로 뻗어나가는 빵 쪼아먹기 기술!</span>
                        <span>관리자</span>
                        <span>2321</span>
                        <span>2024-01-30</span>
                    </div>

                    <br><hr><br>
                    
                    <div class="board">
                        <input type="checkbox" class="boardCheckbox">
                        <span>3</span>
                        <span class="title">[행사안내] 교내 쿠키굴리기 대회가 개최됩니다</span>
                        <span>관리자</span>
                        <span>2390</span>
                        <span>2024-01-30</span>
                    </div>

                </div> <!-- boardContainer -->

                <br><br><br><br><br><br>

                <div class="pagination">
                    <button class="buttonArrow"><<</button>&nbsp;
                    <button class="buttonPage">1&nbsp;</button>
                    <button class="buttonPage">2&nbsp;</button>
                    <button class="buttonPage">3</button>&nbsp;
                    <button class="buttonArrow">>></button>
                </div>

            </div> <!-- section01Container -->
            
        </div> <!-- section01 -->
        </article>

        <div th:replace="common/breadSideBar.html"></div>

</div> <!-- mainContainer -->

</body>

<div th:replace="common/breadFooter.html"></div>



</html>