body, p, h1, h2, ul, table, input, th, td, thead, input, select {
    margin: 0px;
    padding: 0px;
}

.sectionHead{
    display: flex;
    flex-direction: column;
    align-items: center
}


.w300 {  /* input들 칸 */
    width: 330px !important;
}
.tbl_frm01 {
    margin-top: -60px;
}

.tbl_frm01 th, .tbl_frm01 td {
    padding: 8px 10px;
    height: 48px;
    border-bottom: 1px solid #e4e5e7;
}

table{
    border-top: 1px solid #e4e5e7;
}

.frm_input { /* 입력받는 란*/
    padding: 0 4px 1px 4px;
    font-size: 14px;
    font-weight: normal;
    /* border: 1px solid #ddd; */
    background-color: #fff;
    border-radius: 0;
    -webkit-border-radius: 0;
    height: 30px;
}

input{
    width: 20px;
    height: 15px;
    margin-left: 5px;
}

label{ /* 신청구분, 휴학사유 목록 글씨*/
    font-size: 14px;
}
label input[type="radio"] {
    vertical-align: middle; /* 체크란과 글씨 정렬*/
    margin-right: 5px; /* 라디오 버튼과 텍스트 사이의 간격을 늘리기 위해 margin-right 사용 */
}

textarea{
    resize: none;
}

.tbl_frm01 td label {  /* 신청구분, 휴학사유 목록 글씨들의 간격*/
    margin-right: 10px;
}

.tbl_frm01 th {
    width: 150px;
    background-color: #f8f8f8;
    white-space: nowrap; /*줄바꿈방지*/
    text-overflow: ellipsis; /* 긴 글 (..)부호로 생략*/
    line-height: 1.3em;
}

table, th, td{
    /* font-weight: normal; 텍스트 두깨 */
    color: #454545;
    font-size: 14px;
}

select option{ /* 드롭다운 메뉴와 글자 간격 정렬 */
    vertical-align: middle;
}

select {
    font-size: 14px;
    text-align:center;
    align-items:center;
    width: 68px;
    height: 28px;
    border-radius: 1px;
    border: 0.5px solid #b9b9b9;
}

.section01 {
    margin: 100px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

.titleText p{
    font-size: 30px;
    font-weight: bolder;
    color:#456E2A;
}

.section01Container {
    width: 1100px;
    height: 770px;
}

.section02 {
    margin: 0px 0px 200px -50px;
    display: flex;
}

.section02Container {
    width: 1050px;
}

.titleText2 p{
    font-size: 20px;
    font-weight: bolder;
    color:#456E2A;
}


.manageButton{
    margin-top: -60px;
    margin-right: 90px;
}


.tbl_head01 th{
    vertical-align:middle;
}

.tbl_head01 {
    /* border-top:1px solid #aeaeae; */
    border-bottom:1px solid #e4e5e7;
}

.tbl_head01 table {
    width:100%;
}


.tbl_head01 th {
    padding:8px 10px;
    line-height:1em;
    font-weight:600;
    background:#f1f1f1;
}

.tbl_head01 th, .tbl_head01 td {
    /* border-left: 1px solid #e4e5e7; */
    text-align: center;
    vertical-align: middle;
}

.empty_table { /* 자료가 없습니다 글씨 */
    color: #999;
    padding: 50px 0 !important;
    text-align: center;
}

.cancelButton{
    color: #000000;
    width: 80px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color:#456E2A;
    color:#fff;
    font-size: 12px;
    /* font-weight: medium; */
    margin-right: 0PX;
    cursor: pointer;
    margin-top: 2px;
}

.cancelButton:hover {
    background-color:#DAE2D4;
    color: #000;
}

.tbl_head01 tbody tr td {
    height: 30px; /* 원하는 높이로 수정하세요 */
    border-top:1px solid #e4e5e7;
}

