
.saveButton {
    display: flex;
    justify-content: flex-end;
}

.saveButton > button {
    width: 80px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color:#456E2A;
    color:#fff;
    font-size: 12px;
    font-weight: medium;
    cursor: pointer;
}

.saveButton > button:hover {
    background-color: #DAE2D4;
    color: #000;
}

