* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: inherit;
    list-style: none;
}

.mainContainer {
    /* justify-content: space-between; */
    flex-direction: row-reverse;
    display: flex;
}


article {
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: 20px; */
    margin-top: 0px;
}

.headerBackground {
    width: 98%;
    height: 50px;
    background-color: #f1f1f1;
    border-radius: 10px;
    display: grid;
    align-items: center;
}

.headerMenu {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #6c6c6c;
    align-items: center;
}

.headerMenuClick > span,
.searchBox > label,
.logOut > span {
    width: 120px;
    display: flex;
    flex-wrap: nowrap;
}

.headerMenuClick {
    display: flex;
    gap: 60px;
    margin-right: 500px;
    cursor: pointer;
}

.headerMenuClick span:hover {
    font-weight: bolder;
    color: #456E2A;
}

.logOut span {
    cursor: pointer;
}

.logOut span:hover {
    font-weight: bolder;
    color:#456E2A;
}

.searchBox {
    display: flex;
    margin-right: 50px;
    align-items: center;
}

.searchBox > input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    outline: none;
}

.searchBox > button {
    width: 80px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color:#456E2A;
    color:#fff;
    font-size: 12px;
    font-weight: medium;
    cursor: pointer;
}

.searchBox > button:hover {
    background-color:#DAE2D4;
    color: #000;
}
/*  -------------------- 상단 바 ------------------------- */

.sideBarTopBackground { /* 메인 로고 */
    width: 450px;
    height: 150px;
    background-color: #ffffff00;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.sideBarTopContainer img {
    width: 220px;
    /* width: 70%; */
    height: 130px;
    margin-top: 18px;
}

/* -------------------- 메인 로고 --------------------- */
.breadCategoryTotal{
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.breadMainImg img{
    margin-top: 0px;
    width: 100%;
    height: 550px;
}

h1, h2{
    border-bottom: 1px solid rgba(105, 105, 105, 0.6); /* 글자 아래 검은 선*/
    padding: 10px;
    margin-top: 10px;
}

h1{
    font-size: 33px;
    margin: 0 0 0 5px ;
}

h2, h3{
    font-size: 20px;
    margin: 0 0 0 5px ;
}

.main-title:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: #43af04;
}
.main-title{
    position: relative;
    padding: 0 0 0 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.help-title{
    position: relative;
    /* padding: 0 0 0 16px; */
    /* font-weight: 400; */
    line-height: 20px;
}

.help-title:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: #e65f05;
}

li{
    padding: 10px;
    width: 680px;
    font-size: 15px;
    /* margin: 0 0 0 5px ; */
}

.category li{
    margin: 0 0 0 5px ;
}

.imgPost li{
    width: 700px;
    font-size: 22px;
    /* font-weight: 500px; */
}

.imgPost img{
    padding-left: 10px
}

.news {
    /* position:relative; */
    margin: 0px;
    font-size: 17px;
    padding: 0px
}

.postImage{
    display: flex;
    flex-direction: column;
}

.postContent{
    display: flex;
    flex-direction: column;
    /* text-align:; */
    margin-left: 12px;
    text-align: left;
}

.postContent li{
    margin-left: -10px;
}

.leftCtegory{
    /* margin-bottom: 10px; */
    /* width: 680px; */
}

.rightCtegory{
    margin-bottom: 5px;
    width: 710px;
}
