body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 803px;
}

html {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url("/images/login/학교메인배경.jpg");
    opacity: 0.7;
}

#content {
    background: rgba(255, 255, 255, 0.89);
    padding: 20px;
    width: 1700px;
    height: 1245px; 
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0px;
}

.pwd_find_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 650px;
    margin-top: 300px;
}

#logo img {
    margin-left: 50px;
    width: 55%;
    filter: brightness(0.7); /* 1보다 큰 값은 밝아지고, 1보다 작은 값은 어두워집니다. */
}

#logo img:hover {
cursor: pointer;
}

#find_Button {
    margin-top: 20px;
    margin-left: 50px;
    background-color: #456E2A;
    color: #fff;
    padding: 14px 150px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;

}

.logInContainer {
    font-size: 14px;
    text-align: start;
    padding: 0px;
    gap: 5px;
}

.emailInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nameInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ccNumber{ /* 인증번호 입력 받는 곳, 버튼 포함 */
    margin-left: 50px; 
}

.nameInput input, 
.emailInput input { /* 이름, 이메일 입력 받는 곳 */
    width: 380PX;
}

.ccNumber input{ /* 인증번호 입력 받는 곳 */
    width: 200PX;
}

.nameInput label, 
.emailInput label { /* 이름, 이메일 라벨 */
    margin-right: 10px;
}


.nameInput input, 
.emailInput input, 
.ccNumber input {
    height: 23PX;
}

.ccNumber input{
    margin-right: 4px;
}

.emailInput,
.nameInput,
.ccNumber {
    margin-bottom: 10px; /* 각 input 요소 사이의 간격 조정 */
}

input {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#ccNumberButton{ /* 인증번호 받는 버튼 */
    width: 172PX;
    height: 53PX;
    background-color: #456E2A;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;

}
