body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 803px;
}

html {
    margin: 0;
    padding: 0;
    background-size: cover; /* contain->에서 변경함*/
    background-position: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url("/images/login/학교메인배경.jpg");
    opacity: 0.7;
}

#content {
    background: rgba(255, 255, 255, 0.89);
    padding: 20px;
    /* border-radius: 10px; */
    width: 1700px;
    height: 1245px; 
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0px;
}

.login_failed_page{
    margin-top: 200px;
}

#Back_Page{
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login_error{
    font-size: 35px;
    color: #456E2A;
}


#Back {
    /* margin-top: 25px; */
    /* text-decoration: underline; */
    color: #888;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    width: 100px;
}