body, div, li, p, td, th, ul, input{
    color: #535353;
    }

    body {
        margin: 0;
        padding: 0;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 803px;
    }

    html {
        margin: 0;
        padding: 0;
        background-size: cover; /* contain->에서 변경함*/
        background-position: center;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        background-image: url("/images/login/학교메인배경.jpg");
        opacity: 0.7;
    }

    #content {
        background: rgba(255, 255, 255, 0.89);
        padding: 20px;
        /* border-radius: 10px; */
        width: 1700px;
        height: 1245px; 
        text-align: left;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: flex-start;

        }

    #leftContent {
        width: 510px;
        height: 900px;
        margin-left: 50px;
        margin-top: 310px;
    }

    #new_events{ /* 브레드뉴스/행사안내 */
        margin-left: 15px;
        display: flex;
        /* flex-direction: row; 가로 정렬  */
        font-size: 20px;
        color:rgba(0, 0, 0, 0.685);

    }

    #new_events_board{
        display: flex;
        flex-direction: row;
        margin: 0px 0 0px 0 ;
        padding: 0px;
        gap: 0px;
        border-bottom: 1px solid rgba(105, 105, 105, 0.6); /* 글자 아래 검은 선*/
    }

    #new_events_board li{
        text-decoration: none !important;
        position: relative; 
    }

    #news, #events {
        display: flex;
        /* flex-direction: row;  가로 정렬  */
        cursor: pointer;
        /* margin-bottom: 10px; */
        font-size: 16px;
        padding: 0 20px 8px;
        margin-left: 5px;
        /* text-decoration: none; 밑줄 숨기기 */
        /* text-decoration: underline; 텍스트 아래 밑줄 추가해줌 */
    }


    #new_events_board li {
        display: flex;
        margin: 0 0;
    }

     #news a, #events a {
        text-decoration: none;
        position: relative;
        color: #000; /* 일반적인 글자 색상 */
        /* transition: color 0.3s ease, border-bottom 0.3s ease; 트랜지션 추가 */
    }

     #news a:hover, #events a:hover {
        color: #084e02;
        font-weight: bold;
        
    }

    #news a:before, #events a:before {
        content: '';
        position: absolute; 
        width: 140%;
        height: 3px; /* 밑줄 굵기*/
        bottom: -10px; 
        right: -13px; 
        /* background: linear-gradient(90deg, transparent, #084e02, transparent); 그라데이션 색상 설정 */
        background: linear-gradient(90deg, #084e02, #084e02);
        visibility: hidden; /* 초기에는 밑줄 숨김 */
        transform: scaleX(0);
        transition: transform 0.3s ease, visibility 0.3s ease;
    }

    #news a:hover:before, #events a:hover:before {
        visibility: visible;
        transform: scaleX(1);
    }

    .boardContainer {
        margin: 5px; /* 뉴스 및 행사 안내 목록들*/
        display: flex;
        justify-content: space-between;
        flex-direction: column; /* 뉴스 세로 정렬 */
        /* flex-wrap: wrap; */
    }

    .board {
        width: 85%;
        background: rgba(247, 244, 244, 0); 
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 0px; /* 뉴스 목록들 글 세로 간격 */
    }

    #icons { /* 상단에 있는 아이콘들 부모*/
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin-top: 60px;
        width: 50%; 
        
    }

    .icon { /* 상단 아이콘들*/ 
        width: 145px;
        height: 119px;
         /* background-color: #ffffff;아이콘 배경색 */
        /* border-radius: 10px; 테두리 둥글게 만드는 속성*/
        display: flex;
        flex-direction: column; /* 세로로 배열되도록 설정 */
        align-items: center;
        /* justify-content: center; */
        color: rgb(20, 20, 20);
        font-size: 14px;
        text-align: center;
        cursor: pointer;
        gap: 10px;
    }

    img{
        width: 55px;
        height: 55px;
    }

    #icons2{ /* 불편/건의사항 및 Q&A 아이콘들 부모 */
        width: 100%;
        display: flex;
    }

    .icon2{ /* 불편/건의사항 및 Q&A 아이콘 */
        width: 145px;
        height: 119px;
         /* background-color: #ffffff;아이콘 배경색 */
        display: flex;
        /* flex-direction: row; */
        align-items: center;
        /* justify-content: center; */
        color: rgb(20, 20, 20);
        font-size: 14px;
        text-align: center;
        cursor: pointer;
        gap: 10px;
        flex-direction: column;
    }

    .ask{  /* 브레드 바란다 부터 아래 아이콘 묶음 */
        margin-top: 40px;
        display: flex;
        flex-direction: column; /* ask 클래스의 자식 요소를 세로로 배열하도록 변경 */
    }

    .ask_bread{ /* 브레드에 바란다 */
        color:rgba(0, 0, 0, 0.6000000238418579);
        width:510px;
        height:21px;
        top:620px;
        text-align: left;
        letter-spacing:0; /* 글자 사이의 간격 조절*/
        line-height:1px; /* 텍스트 줄 사이의 간격 */
        border-bottom: 1px solid rgba(105, 105, 105, 0.6); /* 글자 아래 검은 선*/ 
        margin-bottom: 20px;
        padding: 0 20px 0px;
        
    }
 
    #rightContent {
        width: 555px;
        height: 760px;
        margin-top: 400px;
        text-align: center;
    }

    .breadPortal_top {
        display: flex;
        align-items: center;
        margin: 0 0 0 0 10px;
    }

    .breadPortal_top img {
    margin-right: -10px; /* 이미지와 텍스트 간격 조절 */
    }

    #breadPortal_name{ /* 브레드 포탈정보 시스템 글씨*/
        font-size: 35px;
        margin-left: 0px;
        flex-direction: column;
        align-items: flex-start;
        display: flex;
    }

    #breadPortal_name_en{ /* 포탈 시스템 영문 글씨*/
        font-size: 18px;
        margin-bottom: 10px;
    }

    .breadPortal_bottom{ 
        margin-top: 350px;
    }

    #quote {
        font-size: 23px;
        color: #084e02;
        }

    #loginButton {
        margin-top: 50px;
        background-color: #084e02;
        color: white;
        padding: 14px 150px; /* 로그인 버튼 배경 크기*/
        font-size: 23px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }

    .board{
        list-style-type: disc; /* 원형 마커(점) 사용 */
    }  
    

