<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jquery -->
    <script th:src="@{https://code.jquery.com/jquery-3.6.4.min.js}"></script>
    <!-- 변경해야할 CSS 링크 -->
    <link rel="stylesheet" th:href="@{/css/background/background.css}">
    <link rel="stylesheet" th:href="@{/css/breadProfessor/breadMypagePro/breadTimeTablePro.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadHeader.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadFooter.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadSideBar.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadTitleContainer.css}">
    <!-- 변경해야할 JS 링크 -->
    <script th:src="@{/scripts/menuChoice.js}"></script>
    <script th:src="@{/scripts/sideBar.js}"></script>

    <title>breadTimeTablePro</title>
</head>
<body>
    <div class="mainContainer">

        <article>

            <div th:replace="common/breadHeader.html"></div>

            <div class="section01">

                <div class="section01Container">
                    <div class="titleText">
                        <p>마이페이지</p>
                    </div>

                    <br><br><br>
                    <div class="titleMenu">
                        <a th:href="@{/breadEditPro}">개인정보수정</a>
                        <a th:href="@{/breadTimeTablePro}" th:style="'color: ' + ${textColor} + '; font-weight: bolder;'">시간표조회</a>
                        <br><br>
                        <hr>
                        <br>
                    </div> <!-- titleMenu -->

                <br><br> 

                <div class="timeTable">
                    <img th:src="@{/images/etc/timeTable.png}" alt="timeTable">
                </div>

                </div> <!-- section01Container -->

            </div> <!-- section01 -->
        </article>

        <div th:replace="common/breadSideBarPro.html"></div>

</div> <!-- mainContainer -->

</body>

<div th:replace="common/breadFooter.html"></div>

</html>