<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jquery -->
    <script th:src="@{https://code.jquery.com/jquery-3.6.4.min.js}"></script>
    <!-- 변경해야할 CSS 링크 -->
    <link rel="stylesheet" th:href="@{/css/background/background.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadMypage/breadEdit.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadHeader.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadFooter.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadSideBar.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadTitleContainer.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadSaveButton.css}">
    <!-- 변경해야할 JS 링크 -->
    <script th:src="@{/scripts/profileImageUploadDelete.js}"></script>
<!--    <script th:src="@{/scripts/menuChoice.js}"></script>-->
    <script th:src="@{/scripts/sideBar.js}"></script>

    <title>breadEdit</title>
</head>
<body>
    <div class="mainContainer">

        <article>

            <div th:replace="common/breadHeader.html"></div>

           <div class="section01">

                <div class="section01Container">
                    <div class="titleText">
                        <p>마이페이지</p>
                    </div>

                    <br><br><br>
                    <div class="titleMenu">
                        <a th:href="@{/breadEdit}" th:style="'color: ' + ${textColor} + '; font-weight: bolder;'">개인정보수정</a>
                        <a th:href="@{/breadTimeTable}">시간표조회</a>
                        <a th:href="@{/breadEnrollment}">수강신청조회</a>
                        <br><br>
                        <hr>
                        <br>
                    </div> <!-- titleMenu -->

                    <br><br><br><br><br>
<!--                <form id="frm" action="/breadEditFileUpdate" method="POST" enctype="multipart/form-data">-->
                    <div class="profileButton">
<!--                        <img th:src="@{|/upload/${breadUser.breadFile.profileUploadFileName}|}" alt="profileImage" id="profileImage">-->
                        <img th:src="@{|/upload/${breadUser.breadFile.profileUploadFileName}|}" alt="profileImage" id="profileImage">
                        <input type="file" id="imageUploadInput" name="profileImage" style="display: none;">
                        <button type="submit" id="editProfileButton">프로필수정</button>
                        <button type="button" id="deleteProfileButton">프로필삭제</button>
                    </div>
<!--                </form>-->

                    <br><br><br>

                    <div class="listContainer">
                        <div class="nameList">
                            <li>이름</li>
                            <li>학부</li>
                            <li>학과</li>
                            <li>학번</li>
                            <li>비밀번호</li>
                            <li>핸드폰번호</li>
                            <li>이메일</li>
                            <li>주소</li>
                        </div>

<!--                        <p th:text="${breadUser.breadFile.profileUploadFileName}"></p>-->
                        <div class="inputList">

                            <input
                                    type="hidden"
                                    id="memberId"
                                    name="memberId"
                                    th:value="${ #authentication.getPrincipal().BreadUser().userCode }"
                            >

                            <li><div th:text="${breadUser.userName}"></div></li>
                            <li><div th:text="${#authentication.getPrincipal().breadUser().userName}"></div></li>
                            <li><div th:text="${breadUser.undergraduateName}"></div></li>
                            <li><div th:text="${breadUser.departmentName}"></div></li>
                            <li>
                                <div th:text="${breadUser.userNumCode}"></div>
                            </li>
                            <li><div th:text="${breadUser.userPwd}"></div></li>
                            <li><div th:text="${breadUser.userPhone}"></div></li>
                            <li><div th:text="${breadUser.userEmail}"></div></li>
                            <li><div th:text="${breadUser.userAddress}"></div></li>
                            <li><div th:text="${breadUser.userDetailedAddress}"></div></li>
                        </div>
                  </div> <!-- listContainer -->

                <br><br><br><br><br><br><br><br>

                    <div class="saveButton">
                        <button onclick="location.href='/breadEditUpdate'">수정</button>
                    </div>

                </div> <!-- section01Container -->

           </div> <!-- section01 -->
        </article>

        <div th:replace="common/breadSideBar.html"></div>

</div> <!-- mainContainer -->

</body>

<div th:replace="common/breadFooter.html"></div>

</html>