<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bread/breadMain/breadMain.css}">
<!--    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadHeader.css}">-->
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadFooter.css}">
<!--    <link rel="stylesheet" th:href="@{/css/background/background.css}">-->

    <title>main</title>
</head>
<body>
<div class="mainContainer">

    <article>

        <div class="header">
            <div class="sideBarTopBackground">
                <div class="sideBarTopContainer">
                    <img th:src="@{/images/logo/005.png}" alt="sideBarTopImage">
                </div>
            </div>

            <div class="headerBackground">
                <div class="headerMenu">
                    <div class="headerMenuClick">
                        <span>포탈정보시스템</span>
                        <span>버터커넥트</span>
                    </div>
                    <div class="searchBox">
                        <label for="searchInput">검색</label>&nbsp;&nbsp;
                        <input type="text">
                    </div>
                    <div class="logOut">
                        <span>로그아웃</span>
                    </div>
                </div> <!-- headerMenu -->
            </div> <!-- headerBackground -->
        </div> <!-- header -->

        <div class ="breadMainImg">
            <img th:src="@{/images/login/유펜.jpg}" alt="breadMainTopImage" style="width: 1850px; height: 600px;">
        </div>

        <div class="breadCategoryTotal">
            <!-- 브레드대학교 소식지 -->
            <div class="leftCategory">
                <div class="category">
                    <h3 class="main-title">브레드대학교 소식지</h3>
                    <h1 onclick="location.href='/breadNotice'" style="cursor: pointer">브레드 NEWS</h1>
                    <br>

                    <div class="imgPost">
                        <div class="postImage" style="width: 700px;">
                            <img th:src="@{/images/board/졸업사진.png}" alt="Post Image" style="width: 700px;">
                            <div class="postContent" style="width: 100%;">
                                <ul>
                                    <li class="post"><b>2024년 갑진년(甲辰年), 브레드인 졸업을 축하합니다!</b></li>
                                    <a href="/VIEW/HTML/bread/breadNews" title="2024년 갑진년(甲辰年), 브레드인 졸업을 축하합니다!" class="news">본교는 2월 29일(목) 오전 10시 교내 대강당에서 2024학년도 후기 학위수여식을 갖고 학사 1,016명, 석사 865명, 박사 117명 등 총 1,998명의 졸업생을 배출했다.</li>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><br><br>

                <!-- 분실물 -->
                <div class="category">
                    <h2 class="help-title" onclick="location.href='/breadLost'" style="cursor: pointer">분실물</h2>
                    <ul>
                        <li class="post">쿠키관 303호 앞에서서 빵신용카드 주웠어요</li>
                        <li class="post">구내 식당에서 빵빵한 이어폰 잃어버리신 분 찾아가세요</li>
                        <li class="post">식빵관에서 우유지갑 주우신 분 계시나요? ㅠㅠ 사례금 드려요</li>
                    </ul><br><br>
                </div>

                <!-- 공지사항 -->
                <div class="category">
                    <h2 class="help-title" onclick="location.href='/breadNotice'" style="cursor: pointer">공지사항</h2>
                    <ul>
                        <li class="post">[신입생] 빵 많이 먹으면 배부르니 조심 바랍니다</li>
                        <li class="post">[학교교칙] 쿠키 먹고 양치 꼭 합시다</li>
                    </ul>
                </div>
            </div> <!-- leftCtegory-->

            <div class="rightCtegory">
                <!-- 알립니다 -->
                <div class="category">
                    <h1 onclick="location.href='/breadNotice'" style="cursor: pointer">브레드인에게 알립니다.</h1><br>
                    <div class="imgPost">
                        <div class="postImage">
                            <img th:src="@{/images/board/도서관.png}" alt="Post Image" style="width: 700px; height: 350px;">
                            <ul>
                                <li class="post"><b>[60주년 기념]</b>밀가루 도서관이 새단장하여 개관하였습니다. 많은 관심과 이용 부탁드려요</li>
                            </ul>
                        </div>
                    </div><br><br><br>
                </div>

                <!-- 브레드 행사/소식 -->
                <div class="category">
                    <h2 class="help-title" onclick="location.href='/breadNotice'" style="cursor: pointer">브레드 행사/소식</h2>
                    <ul>
                        <li class="post">[운동회] 쿠키 굴리기 운동회 개최</li>
                        <li class="post">컴퓨터공학전공 김민하 씨, 행정안전부장관상 수상</li>
                        <li class="post">브레드대 유승제 교수팀, 먹으면서 살빼는 다이어트 쿠키 개발</li>
                        <li class="post">'2024 브레드 대학교 신년음악회', 지역사회와 함께 새해 축하</li>
                        <li class="post">브레드대 문과대학, ‘제3회 브레드 인문학 캠프’ 개최</li>
                    </ul><br><br><br>
                </div>
            </div> <!--rightCtegory -->

        </div>  <!-- breadCategoryTotal -->

        <br><br><br><br><br>

    </article>

</div> <!-- mainContainer -->
</body>

<div th:replace="common/breadFooter.html"></div>

</html>