<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/login/find_password.css}">

    <script th:src="@{/scripts/find_password.js}"></script>

    <title>비밀번호 찾기 페이지</title>
</head>

<body>
    <div id="content">
        <div class="pwd_find_page">

            <div id="logo">
                <!-- 대학교 로고 이미지를 사용하세요 -->
                <img th:src="@{/images/logo/005.png}" onclick="goToLogin()" onmouserocer="changeCursor()" alt="University Logo"  width="300"> <!-- width="300"> -->
            </div>

            <div class="logInContainer">
                 <div class="nameInput">
                    <label for="InputLabel">이름</label>
                    <input type="text" id="nameInputText" placeholder="이름을 입력하세요">
                 </div>

                <div class="emailInput">
                    <label for="InputLabel">이메일</label>
                    <input type="email" id="emailInputText" placeholder="이메일 주소를 입력하세요">
                </div>
  
            </div> <!-- logInContainer -->

            <div class="ccNumber">
                <input type="number" id="ccNumber" placeholder="인증번호">
                <button id="ccNumberButton" onclick="numberInput()">인증번호받기</button>
            </div>

            <button id="find_Button" onclick="findPassword()">비밀번호 찾기</button><br><br><br><br>

        </div> <!-- pwd_find_page-->
    </div>  <!-- content -->

</body>
</html>