<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jquery -->
    <script th:src="@{https://code.jquery.com/jquery-3.6.4.min.js}"></script>
    <!-- 변경해야할 CSS 링크 -->
    <link rel="stylesheet" th:href="@{/css/background/background.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadWish/breadWishQNA/breadWishQNAModify.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadHeader.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadFooter.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadSideBar.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadTitleContainer.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadSaveButton.css}">
    <!-- 변경해야할 JS 링크 -->
    <script th:src="@{/scripts/sideBar.js}"></script>
    <script th:src="@{/scripts/breadWishQNAModify.js}"></script>

    <title>breadWishQNAModify</title>
</head>
<body>
    <div class="mainContainer">

        <article>
            <div th:replace="common/breadHeader.html"></div>

            <div class="section01">

                <div class="section01Container">
                    <div class="titleText">
                        <p>브레드에바란다 > Q&A</p>
                    </div>

                    <br><br><br><br><br>
                <form action= "boardIsert" method="post">
                        <div class="manageButton">
                            <div class="adminButton">
                                <button TYPE="submit">등록</button>
                            </div>
                        </div>

                    <br><br><br><br><br>

                    <div class="boardContainer">
                        <form th:action="@{/bread/breadWish/breadWishQNA/breadWishQNAModify}" method="post">
                        <div class="boarderTitle">
                            <label for="title">제목</label>
                            <input type="text" id="title" name="title" placeholder="제목을 입력해주세요">
                            <span>하경진</span>
                            <span>2024-01-30</span>
                        </div>
                        <br><br>
                        <hr>
                        <br><br><br>
                        <div class="board">
                            <label for="contents">내용</label>
                            <textarea name="contents" id="contents" placeholder="내용 입력" cols="30" rows="10">

                            </textarea>
                        </div>
                        </form>
                    </div> <!-- boardContainer -->

                </form>
                    
                    <br><br><br>

                    <hr>

                    <br><br><br>

                    <div class="saveButton">
                        <button onclick="location.href='/breadWishQNA'">이전으로</button>
                    </div>


                </div> <!-- section01Container -->

            </div> <!-- section01 -->

    </article>
  
    <div th:replace="common/breadSideBar.html"></div>

</div> <!-- mainContainer -->

</body>

<div th:replace="common/breadFooter.html"></div>


</html>