<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- jquery -->
    <script th:src="@{https://code.jquery.com/jquery-3.6.4.min.js}"></script>
    <!-- 변경해야할 CSS 링크 -->
    <link rel="stylesheet" th:href="@{/css/background/background.css}"/>
    <link rel="stylesheet" th:href="@{/css/bread/breadWish/breadWishQNA/breadWishQNA.css}"/>
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadHeader.css}"/>
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadfooter.css}"/>
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadSideBar.css}"/>
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadTitleContainer.css}"/>
    <!-- 변경해야할 JS 링크 -->
    <script th:src="@{/scripts/menuChoice.js}"></script>
    <script th:src="@{/scripts/sideBar.js}"></script>
    <script th:src="@{/scripts/checkBox.js}"></script>

    <title>breadWishQNA</title>
</head>
<body>
<div class="mainContainer">

    <article>

        <div th:replace="common/breadHeader.html"></div>

        <div class="section01">

            <div class="section01Container">
                <div class="titleText">
                    <p>브레드에바란다</p>
                </div>

                <br><br><br>
                <div class="titleMenu">
                    <a th:href="@{/breadWishQNA}" th:style="'color: ' + ${textColor} + '; font-weight: bolder;'">Q&A</a>
                    <a th:href="@{/breadWishSuggestion}">불편/건의사항</a>
                    <br><br>
                    <hr>
                    <br>
                </div> <!-- titleMenu -->

                <br><br><br><br><br>

                <div class="titleContainer">
                    <div class="titleBox">
                        <div class="searchContainer">
                            <label for="search">검색</label>
                            <input type="text">
                        </div>

                        <div class="dropdown">
                            <label for="category">카테고리</label>
                            <select>
                                <option value="list">전체</option>
                                <option value="list">계정</option>
                                <option value="list">학교생활</option>
                                <option value="list">기숙사</option>
                                <option value="list">등록금</option>
                                <option value="list">기타</option>
                            </select>
                        </div>

                        <div class="dropdown">
                            <label for="sorting">정렬조건</label>
                            <select>
                                <option value="list">선택</option>
                                <option value="list">글번호 오름차순</option>
                                <option value="list">글번호 내림차순</option>
                            </select>
                        </div>

                        <div class="dropdownButton">
                            <button>검색</button>
                        </div>
                    </div>

                    <div class="manageButton">
                        <div class="adminButton">
                            <button onclick="location.href='/breadWishQNAModify'">글작성</button>
                            <button>삭제</button>
                        </div>
                    </div>

                </div> <!-- titleContainer -->

                <br><br><br><br><br><br>

                <div class="boardContainer">
                    <div class="boarderTitle">
                        <span><li><input type="checkbox" id="boarderTitleCheckbox" style="width: 15px"></li></span>
                        <span><li>글번호</li></span>
                        <span class="title"><li>제목</li></span>
                        <span><li>작성자</li></span>
                        <span><li>처리상태</li></span>
                        <span><li>조회수</li></span>
                        <span><li>작성일</li></span>
                    </div>

                    <br><hr><br>

                    <div class="board">
                        <Span><li><input type="checkbox" class="boardCheckbox" style="width: 15px"></li></Span>
                        <Span><li>1</li></Span>
                        <Span class="title"><li th:text="${breadWishBoard.boardTitle}"></li></Span>
                        <Span><li th:text="${breadWishBoard.userName}"></li></Span>
                        <Span><li>답변완료</li></Span>
                        <Span><li th:text="${breadWishBoard.boardViewCount}"></li></Span>
                        <Span><li th:date="${breadWishBoard.boardPostDate}"></li></Span>
                    </div>

                    <br><hr><br>


                </div> <!-- boardContainer -->

                <br><br><br><br><br><br>

                <div class="pagination">
                    <button class="buttonArrow"><<</button>&nbsp;
                    <button class="buttonPage">1&nbsp;</button>
                    <button class="buttonPage">2&nbsp;</button>
                    <button class="buttonPage">3</button>&nbsp;
                    <button class="buttonArrow">>></button>
                </div>

            </div> <!-- section01Container -->

        </div> <!-- section01 -->
    </article>

    <div th:replace="common/breadSideBar.html"></div>

</div> <!-- mainContainer -->

</body>
<script>
    $(document).ready(function(){
    $(".title li").click(function(){
        window.location.href = "breadWishQNAPage.html";
    });
});
</script>

<div th:replace="common/breadFooter.html"></div>

</html>