<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- jquery -->
    <script th:src="@{https://code.jquery.com/jquery-3.6.4.min.js}"></script>
    <!-- 변경해야할 CSS 링크 -->
    <link rel="stylesheet" th:href="@{/css/background/background.css}"/>
    <link rel="stylesheet" th:href="@{/css/bread/breadWish/breadWishQNA/breadWishQNA.css}"/>
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadHeader.css}"/>
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadfooter.css}"/>
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadSideBar.css}"/>
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadTitleContainer.css}"/>
    <!-- 변경해야할 JS 링크 -->
    <script th:src="@{/scripts/menuChoice.js}"></script>
    <script th:src="@{/scripts/sideBar.js}"></script>
    <script th:src="@{/scripts/checkBox.js}"></script>

    <title>breadWishQNA</title>
</head>
<body>
<div class="mainContainer">

    <article>

        <div th:replace="common/breadHeader.html"></div>
<!--        <div th:replace="~{common/breadHeader.html}"></div>-->

        <div class="section01">

            <div class="section01Container">
                <div class="titleText">
                    <p>브레드에바란다</p>
                </div>

                <br><br><br>
                <div class="titleMenu">
                    <a th:href="@{/breadWishQNA}" th:style="'color: ' + ${textColor} + '; font-weight: bolder;'">Q&A</a>
                    <a th:href="@{/breadWishSuggestion}">불편/건의사항</a>
                    <br><br>
                    <hr>
                    <br>
                </div> <!-- titleMenu -->

                <br><br><br><br><br>

                <div class="titleContainer">

                        <div class="titleBox">
                            <div class="searchContainer" >
                                <label for="search">검색</label>
                                <input type="text" name="searchValue">
                            </div>

                            <div class="dropdown">
                                <label for="category">카테고리</label>
                                <select>
                                    <option value="list">전체</option>
                                    <option value="list">계정</option>
                                    <option value="list">학교생활</option>
                                    <option value="list">기숙사</option>
                                    <option value="list">등록금</option>
                                    <option value="list">기타</option>
                                </select>
                            </div>

                            <div class="dropdown">
                                <label for="sorting">정렬조건</label>
                                <select>
                                    <option value="list">선택</option>
                                    <option value="list">글번호 오름차순</option>
                                    <option value="list">글번호 내림차순</option>
                                </select>
                            </div>

                            <div class="dropdownButton">
                                <button type="submit">검색</button>
                            </div>

                        </div>


                        <div class="manageButton">
                            <div class="adminButton">
                                <button onclick="location.href='/breadWishQNAModify'">글작성</button>
                                <button>삭제</button>
                            </div>
                        </div>

                </div> <!-- titleContainer -->

                <br><br><br><br><br><br>

                <div class="boardContainer">
                    <div class="boarderTitle">
                        <span><li><input type="checkbox" id="boarderTitleCheckbox" style="width: 15px"></li></span>
                        <span><li>글번호</li></span>
                        <span class="title"><li>제목</li></span>
                        <span><li>작성자</li></span>
                        <span><li>처리상태</li></span>
                        <span><li>조회수</li></span>
                        <span><li>작성일</li></span>
                    </div>

                    <br><hr><br>


                    <tr th:each="board, stut : ${boardList}">
                        <div class="board">

                            <Span><li><input type="checkbox" class="boardCheckbox" style="width: 15px"></li></Span>
                            <Span><li th:text="${stut.count}"></li></Span>
                            <Span class="title"><li th:text="${board.boardTitle}"></li></Span>
                            <Span><li th:text="${board.userName}"></li></Span>
                            <Span><li>답변완료</li></Span>
                            <Span><li th:text="${board.boardViewCount}"></li></Span>
                            <Span><li th:text="${board.boardPostDate}"></li></Span>

                        </div>
                        <br><hr><br>
                    </tr>


                </div> <!-- boardContainer -->

                <br><br><br><br><br><br>

<!--                <div class="pagination">-->

<!--                    &lt;!&ndash; 맨 앞으로 이동 버튼 &ndash;&gt;-->
<!--                    <button class="buttonArrow"-->
<!--                            th:onclick="'location.href=\'/breadWish/breadWishQNA/list?currentPage='+ @{${selectCriteria.startPage}} + '\''"-->
<!--                            th:disabled="${selectCriteria.pageNo == 1}"><<</button>&nbsp;-->

<!--                    &lt;!&ndash; 숫자 버튼 &ndash;&gt;-->
<!--                    <th:block th:each="page : ${#numbers.sequence(selectCriteria.startPage, selectCriteria.endPage)}">-->
<!--                        <button class="buttonPage"-->
<!--                            th:text="${ page }"-->
<!--                            th:onclick="'location.href=\'/breadWish/breadWishQNA/list?currentPage='+ @{${page}} + '\''"-->
<!--                            th:disabled="${ selectCriteria.pageNo eq page }">>1&nbsp;</button>-->
<!--                    </th:block>-->

<!--                    &lt;!&ndash; 맨 끝으로 이동 버튼 &ndash;&gt;-->
<!--                    <button class="buttonArrow"-->
<!--                            th:onclick="'location.href=\'/breadWish/breadWishQNA/list?currentPage='+ @{${selectCriteria.maxPage}} + '\''"-->
<!--                            th:disabled="${selectCriteria.pageNo == selectCriteria.maxPage}">>></button>-->
<!--                </div>-->

            </div> <!-- section01Container -->

        </div> <!-- section01 -->
    </article>

    <div th:replace="common/breadSideBar.html"></div>

</div> <!-- mainContainer -->

</body>

<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener('DOMContentLoaded', function() {
        const boardElements = document.querySelectorAll('.board');
        boardElements.forEach(function(element) {

            //마우스 올렸을 때 이벤트 처리
            element.addEventListener('mouseenter', function() {
                this.style.backgroundColor = "rgba(0, 0, 0, 0)";
                this.style.cursor = "pointer";
            });

            // 마우스를 내렸을 때의 이벤트 처리
            element.addEventListener('mouseleave', function() {
                this.style.backgroundColor = ""; // 원래의 색상으로 변경 (비움)
                this.style.cursor = "auto"; // 기본 커서로 변경
            });

            // 게시글을 클릭했을 때의 이벤트 처
            element.addEventListener('click', function() {

                alert("상세 페이지 이동하자!!!!! ")

                const boardCode = this.querySelector('span.board-code').innerText;
                const viewCountElement = this.querySelector('span.view-count');
                console.log("boardCode=============" + boardCode);
                console.log("viewCountElement===========" + viewCountElement);

                // AJAX 요청을 보냄
                const xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        // 요청이 성공하면 조회수를 1 증가시킴
                        const newViewCount = parseInt(viewCountElement.innerText) + 1;
                        viewCountElement.innerText = newViewCount;
                    }
                };
                xhr.open('GET', '/incrementBoardCount?boardCode=' + boardCode, true);
                xhr.send();
            });
        });
    });
    /*]]>*/
</script>



<!--<script th:inline="javascript">-->
<!--    /*<![CDATA[*/-->
<!--    let message = '[[${message}]]';-->

<!--    if (message != null && message !== 'null') {-->
<!--        alert(message);-->
<!--    }-->

<!--    // 게시글 리스트에서 해당 게시글에 마우스를 올릴 때의 스타일 처리-->
<!--    const $boards = document.querySelectorAll(".board");-->
<!--    $boards.forEach(function(board) {-->
<!--        board.addEventListener('mouseenter', function() {-->
<!--            this.style.backgroundColor = "rgba(0, 0, 0, 0)";-->
<!--            this.style.cursor = "pointer";-->
<!--        });-->

<!--        board.addEventListener('mouseleave', function() {-->
<!--            this.style.backgroundColor = ""; // 원래의 색상으로 변경 (비움)-->
<!--            this.style.cursor = "auto"; // 기본 커서로 변경-->
<!--        });-->

<!--        // 게시글 클릭 시 동작-->
<!--        board.addEventListener('click', function() {-->
<!--            const postCode = this.querySelector('li:nth-child(2)').textContent;-->
<!--            location.href = "/bread/breadWish/breadWishQNA?boardCode=" + boardCode;-->
<!--        });-->
<!--    });-->
<!--    /*]]>*/-->
<!--</script>-->

<div th:replace="common/breadFooter.html"></div>

</html>