<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jquery -->
    <script th:src="@{https://code.jquery.com/jquery-3.6.4.min.js}"></script>
    <!-- 변경해야할 CSS 링크 -->
    <link rel="stylesheet" th:href="@{/css/background/background.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadWish/breadWishQNA/breadWishQNAPage.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadHeader.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadFooter.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadSideBar.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadTitleContainer.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadSaveButton.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/comment.css}">
    <!-- 변경해야할 JS 링크 -->
    <script th:src="@{/scripts/sideBar.js}"></script>
    <script th:src="@{/scripts/menuChoice.js}"></script>
    
    
    <title>breadWishQNAPage</title>
</head>
<body>
    <div class="mainContainer">

        <article>
            <div th:replace="common/breadHeader.html"></div>

            <div class="section01">

                <div class="section01Container">
                    <div class="titleText">
                        <p>브레드에바란다 > Q&A</p>
                    </div>

                    <br><br><br><br><br>

                        <div class="manageButton">
                            <div class="adminButton">
                                <button>삭제</button>
                            </div>
                        </div>

                    <br><br><br><br><br>

                    <div class="boardContainer">
                        <div class="boarderTitle">
                            <span>제목</span>
                            <span class="title" th:text="${breadWishBoard.boardTitle}"></span>
                            <span th:text="${breadWishBoard.boardPostDate}"></span>
                        </div>
                        <br><br>
                        <hr>
                        <br><br><br>
                        <div class="board">
                            <span>내용</span>
                            <p id="boardContents" th:text="${breadWishBoard.boardContents}"></p>
                        </div>
                        
                    </div> <!-- boardContainer -->
                    
                    <br><br><br>

                    <hr>

                    <br><br><br>

                    <div class="commentContainer01">
                        <div class="comment01" th:each="comment : ${breadWishBoard.comments}">
                            <div class="commentText01">
                                <span>답변</span>
                                <p th:text="${comment.commentsContents}">댓글 내용이 없습니다.</p>
                            </div>
                        </div>
                    </div>

                    <br><br><br>

                    <div class="saveButton">
                        <button onclick="location.href='/breadWishQNA'">이전으로</button>
                    </div>
    
                </div> <!-- section01Container -->

            </div> <!-- section01 -->

    </article> 
  
    <div th:replace="common/breadSideBar.html"></div>

</div> <!-- mainContainer -->

</body>

<div th:replace="common/breadFooter.html"></div>


</html>