<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jquery -->
    <script th:src="@{https://code.jquery.com/jquery-3.6.4.min.js}"></script>
    <!-- 변경해야할 CSS 링크 -->
    <link rel="stylesheet" th:href="@{/css/background/background.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadLost/breadLostPageAdmin.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadHeader.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadFooter.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadSideBar.css }">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadTitleContainer.css}">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/breadSaveButton.css }">
    <link rel="stylesheet" th:href="@{/css/bread/breadEtc/comment.css}">
    <!-- 변경해야할 JS 링크 -->
    <script th:src="@{/scripts/sideBar.js}"></script>
    <script th:src="@{/scripts/menuChoice.js}"></script>
    <script th:src="@{/scripts/commentAdmin.js}"></script>
    
    <title>breadLostPageAdmin</title>
</head>
<body>
    <div class="mainContainer">

        <article>

            <div th:replace="common/breadHeader.html"></div>

            <div class="section01">

                <div class="section01Container">
                    <div class="titleText">
                        <p>분실물</p>
                    </div>

                    <br><br><br><br><br>

                    <div class="manageButton">
                        <div class="adminButton">
                            <select name="adminSelect" id="adminSelect">
                                <option value="adminOption">선택</option>
                                <option value="adminOption">게시글숨기기</option>
                                <option value="adminOption">사용자경고</option>
                            </select>
                            <button>관리</button>
                            <button>삭제</button>
                        </div>
                    </div>

                    <br><br><br><br><br>

                    <div class="boardContainer">
                        <div class="boarderTitle">
                            <span>제목</span>
                            <span class="title">크림홀에서 빵쪼아먹기용 부리 흘리신분</span>
                            <span>하경진</span>
                            <span>2024-01-30</span>
                        </div>
                        <br><br>
                        <hr>
                        <br><br><br>
                        <div class="board">
                            <div class="boardTitle">
                                <span>내용</span>
                            </div>
                            <div class="boardText">
                                <img th:src="@{/iamges/login/학교 메인 배경.jpg}" alt="">
                                <p>
                                    부리가 땅에서 또불또불 굴러다녀요<br>
                                    의자에 올려두었으니 어서 가져가세요
                                </p>
                            </div>
                        </div>
                        
                    </div> <!-- boardContainer -->
                    
                    <br><br><br>

                    <hr>

                    <br><br><br>

                    <div class="commentContainer">
                        <div class="comment">
                            <div class="commentTitle">
                                <span>답변</span>
                            </div>
                            <div class="commentText"></div>
                                <br>

                        </div> <!-- comment -->
                            <input type="text">
                            <button onclick="submitComment()">등록</button>

                     </div> <!-- commentContainer -->
                     
                    <br><br><br>

                    <div class="saveButton">
                        <button onclick="location.href='/breadLostAdmin'">이전으로</button>
                    </div>
    
                </div> <!-- section01Container -->

            </div> <!-- section01 -->

    </article>

        <div th:replace="common/breadSideBar.html"></div>

    </div> <!-- mainContainer -->

</body>

<div th:replace="common/breadFooter.html"></div>



</html>